
body {
  background-color: #0c0b0b;
  margin: 0;
  font-family: Arial, sans-serif;
  color: aliceblue;
  
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s color 0.3s ease-in-out, filter 0.3s;
}
a:hover{
  color: rgb(171, 206, 195);
  transform: scale(1.1);
  filter: brightness(0.9);
}
/* homepage */

.mainpic{
  border-radius: 20px;
}
.main{
  position: relative;
  width: fit-content;
  margin: auto;
}
.overlay-content{
  position: absolute;
  top: 50%;
  left: 5%;
}
.overlay-content input{
  border-radius: 10px;
  width: 90%;
  height: 40px;
  background-color: black;
}
.overlay-button{
  display: flex;
  justify-content: flex-end;
}
.overlay-button button{
  position: absolute;
  margin: 5px;
  border-radius: 10px;
  width: 25%;
  color: aliceblue;
  cursor: pointer;
  height: 35px;
  background-color: rgb(8, 97, 185);
}
.overlay-button button:hover{
  background-color: rgb(4, 45, 86);
}

/* Homemenu */
.evently h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}
.ul1{
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
}
.container1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
